{% extends "themes/base_admin.html.twig" %}

{% block title %}Modifier cet article{% endblock %}

{% block description %}Modifier cet article{% endblock %}

{% block keywords %}Admin, Blog, Post, Edit{% endblock %}

{% block tinyMCE %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#post_form_content'
        });
    </script>
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modifier cet article</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto">
                {{form_start(form)}}
                    <div class="mb-3">
                        <label>Titre</label>
                        <div class="text-danger">{{form_errors(form.title)}}</div>
                        {{form_widget(form.title, {'attr': {'class':'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        <label>Catégorie</label>
                        <div class="text-danger">{{form_errors(form.category)}}</div>
                        {{form_widget(form.category, {'attr': {'class':'form-control'}})}}
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-center">
                            {% if post.image %}
                                <label class="d-block">Image actuelle</label>
                                <img alt="{{post.slug}}" src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('admin_post_edit_thumb') }}">
                            {% else %}
                                <p class="text-center">---</p>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <label>Choisissez une autre image</label>
                            <div class="text-danger">{{form_errors(form.imageFile)}}</div>
                            {{form_widget(form.imageFile, {'attr': {'class':'form-control mb-3'}})}}
                        </div>
                        <div class="col-md-4">
                        
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Contenu</label>
                        <div class="text-danger">{{form_errors(form.content)}}</div>
                        {{form_widget(form.content, {'attr': {'class':'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        <input formnovalidate type="submit" class="btn btn-primary" value="Sauvegarder">
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}